<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
   <meta charset="utf-8">
   <title>Weather Forecast</title>
   <link rel="stylesheet" href="css/styles.css">
</head>

<body>
   <p>The weather is <%= weatherDescriptionH %></p>
   <h1>Weather is <%= tempH %> degrees Celcius in <%= cityH %></h1>
   <image src=" <%=picUrlH %>">
</body>

</html>
